In [ ]:
# craizy imports
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
import seaborn as sns

train = pd.read_csv('train_revised.csv')
test = pd.read_csv('test_questions.csv')
submission_format = pd.read_csv('sample_submission.csv')

In [ ]:
print('Train', train.shape)
print('Test', test.shape)

In [ ]:
train.head()

In [ ]:
test.head()

In [ ]:
submission_format.head()

In [ ]:
train.car_type.unique()
# we will convert this to categorical value

In [ ]:
train.travel_from.unique() 
# probably this will be dummy encoded

In [ ]:
train.travel_to.unique()
# only one variable probably will drop it

In [ ]:
train.payment_method.unique()
# will convert to categorical value

In [ ]:
train.seat_number.unique()

In [125]:
# appropriate features
features =  ['ride_id','travel_date', 'travel_from','travel_time','car_type','max_capacity']
training_features = train[features]
training_labels = train['seat_number']
test_features = test[features]

print('training_features', training_features.shape)
print('test_features', test_features.shape)
print('training_labels', training_labels.shape)

training_features (51645, 6)
test_features (1111, 6)
training_labels (51645,)

In [126]:
# for easy preprocessing
df_train_test = [training_features,test_features]

# Handle null values

In [ ]:
training_features.isnull().any(axis = 0)

In [ ]:
training_labels.isnull().any(axis = 0)

In [ ]:
test_features.isnull().any(axis = 0)

# Explanatory data analysis

In [ ]:
training_features.dtypes

In [127]:
# convert car type to categorical
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
for df in df_train_test:
    df['car_type'] = encoder.fit_transform(df.car_type)
training_labels = encoder.fit_transform(training_labels)

In [ ]:
test_features.dtypes

In [ ]:
training_features.travel_from.unique()

In [129]:
training_features = pd.get_dummies(training_features, columns= cols_to_dummy)
test_features = pd.get_dummies(test_features, columns=cols_to_dummy)

In [130]:
training_features.shape

(51645, 22)

In [131]:
training_features.head()

,ride_id,travel_date,travel_time,car_type,max_capacity,travel_from_Awendo,travel_from_Homa Bay,travel_from_Kehancha,travel_from_Kendu Bay,travel_from_Keroka,...,travel_from_Kisii,travel_from_Mbita,travel_from_Migori,travel_from_Ndhiwa,travel_from_Nyachenge,travel_from_Oyugis,travel_from_Rodi,travel_from_Rongo,travel_from_Sirare,travel_from_Sori
0,1442,17-10-17,7:15,0,49,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,5437,19-11-17,7:12,0,49,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,5710,26-11-17,7:05,0,49,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,5777,27-11-17,7:10,0,49,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5778,27-11-17,7:12,0,49,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [133]:
test_features.columns

Index(['ride_id', 'travel_date', 'travel_time', 'car_type', 'max_capacity',
       'travel_from_Awendo', 'travel_from_Homa Bay', 'travel_from_Kehancha',
       'travel_from_Keroka', 'travel_from_Kijauri', 'travel_from_Kisii',
       'travel_from_Mbita', 'travel_from_Migori', 'travel_from_Ndhiwa',
       'travel_from_Nyachenge', 'travel_from_Oyugis', 'travel_from_Rodi',
       'travel_from_Rongo', 'travel_from_Sirare', 'travel_from_Sori'],
      dtype='object')

In [134]:
training_features.columns

Index(['ride_id', 'travel_date', 'travel_time', 'car_type', 'max_capacity',
       'travel_from_Awendo', 'travel_from_Homa Bay', 'travel_from_Kehancha',
       'travel_from_Kendu Bay', 'travel_from_Keroka', 'travel_from_Keumbu',
       'travel_from_Kijauri', 'travel_from_Kisii', 'travel_from_Mbita',
       'travel_from_Migori', 'travel_from_Ndhiwa', 'travel_from_Nyachenge',
       'travel_from_Oyugis', 'travel_from_Rodi', 'travel_from_Rongo',
       'travel_from_Sirare', 'travel_from_Sori'],
      dtype='object')

In [135]:
train.travel_from.unique()

array(['Migori', 'Keroka', 'Homa Bay', 'Kisii', 'Keumbu', 'Rongo',
       'Kijauri', 'Oyugis', 'Awendo', 'Sirare', 'Nyachenge', 'Kehancha',
       'Kendu Bay', 'Sori', 'Rodi', 'Mbita', 'Ndhiwa'], dtype=object)

In [136]:
test.travel_from.unique()

array(['Kisii', 'Rongo', 'Sirare', 'Homa Bay', 'Rodi', 'Awendo', 'Migori',
       'Kijauri', 'Nyachenge', 'Kehancha', 'Keroka', 'Sori', 'Ndhiwa',
       'Mbita', 'Oyugis'], dtype=object)

In [137]:
# Keumbu and kendu bay are missing in the test set, so we are going to great their dummy encodings
test_features['travel_from_Keumbu'] = np.zeros(1111, dtype=int)
test_features['travel_from_Kendu Bay'] = np.zeros(1111, dtype=int)

In [138]:
test_features.shape

(1111, 22)

In [139]:
training_features.describe()

,ride_id,car_type,max_capacity,travel_from_Awendo,travel_from_Homa Bay,travel_from_Kehancha,travel_from_Kendu Bay,travel_from_Keroka,travel_from_Keumbu,travel_from_Kijauri,travel_from_Kisii,travel_from_Mbita,travel_from_Migori,travel_from_Ndhiwa,travel_from_Nyachenge,travel_from_Oyugis,travel_from_Rodi,travel_from_Rongo,travel_from_Sirare,travel_from_Sori
count,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000,51645.000000
mean,10188.645793,0.380676,34.534321,0.034621,0.122064,0.036964,0.000019,0.019131,0.000426,0.019963,0.437738,0.007319,0.136064,0.004570,0.009914,0.000097,0.007842,0.076058,0.086146,0.001065
std,2211.295708,0.485558,18.451193,0.182820,0.327363,0.188675,0.004400,0.136985,0.020635,0.139875,0.496113,0.085239,0.342859,0.067445,0.099074,0.009839,0.088208,0.265093,0.280582,0.032617
min,1442.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8287.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,10353.000000,0.000000,49.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,12029.000000,1.000000,49.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,20117.000000,1.000000,49.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Feature engineering

In [112]:
import featuretools as ft

In [113]:
training_features.columns

Index(['travel_date', 'travel_time', 'car_type', 'max_capacity',
       'travel_from_Awendo', 'travel_from_Homa Bay', 'travel_from_Kehancha',
       'travel_from_Kendu Bay', 'travel_from_Keroka', 'travel_from_Keumbu',
       'travel_from_Kijauri', 'travel_from_Kisii', 'travel_from_Mbita',
       'travel_from_Migori', 'travel_from_Ndhiwa', 'travel_from_Nyachenge',
       'travel_from_Oyugis', 'travel_from_Rodi', 'travel_from_Rongo',
       'travel_from_Sirare', 'travel_from_Sori'],
      dtype='object')

In [150]:
# features to feature engineer
features = ['travel_date','travel_time','car_type','max_capacity']
combi['id'] = combi['ride_id'] + combi['max_capacity']
# combine training and test for easy feature engineering
combi = training_features.append(test_features, ignore_index = True)
combi.shape

C:\Users\lenovoG50\Anaconda3\lib\site-packages\pandas\core\frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

(52756, 22)

In [151]:
# creating an entity set 'es'
es = ft.EntitySet(id = 'seat_number')

# adding a dataframe
es.entity_from_dataframe(entity_id = 'Nairobi_Movement', dataframe = combi, index = 'id')

2018-11-08 14:16:17,269 featuretools.entityset - WARNING    index id not found in dataframe, creating new integer column

Entityset: seat_number
  Entities:
    Nairobi_Movement [Rows: 52756, Columns: 23]
  Relationships:
    No relationships

In [ ]:
es.normalize_entity(base_entity_id = 'Nairobi_Movement', new_entity_id ='seats', index = 'ride_id',
                   additional_variables = features)

In [144]:
feature_matrix, feature_names = ft.dfs(entityset = es, target_entity = 'Nairobi_Movement',
                                      max_depth = 2, verbose = 1, n_jobs = 3)

Built 131 features
EntitySet scattered to workers in 12.239 seconds
Elapsed: 01:03 | Remaining: 00:00 | Progress: 100%|██████████| Calculated: 11/11 chunks

In [146]:
feature_matrix.columns

Index(['ride_id', 'travel_from_Awendo', 'travel_from_Homa Bay',
       'travel_from_Kehancha', 'travel_from_Kendu Bay', 'travel_from_Keroka',
       'travel_from_Keumbu', 'travel_from_Kijauri', 'travel_from_Kisii',
       'travel_from_Mbita',
       ...
       'seats.MEAN(Nairobi_Movement.travel_from_Sori)',
       'seats.COUNT(Nairobi_Movement)', 'seats.DAY(travel_date)',
       'seats.DAY(travel_time)', 'seats.YEAR(travel_date)',
       'seats.YEAR(travel_time)', 'seats.MONTH(travel_date)',
       'seats.MONTH(travel_time)', 'seats.WEEKDAY(travel_date)',
       'seats.WEEKDAY(travel_time)'],
      dtype='object', length=131)

In [160]:
feature_matrix.drop(['ride_id'], axis = 1, inplace = True)
train= feature_matrix[:51645]
test = feature_matrix[51645:]

# Modeling

In [184]:
from xgboost import XGBClassifier

In [213]:
from sklearn.model_selection import train_test_split

# splitting train data into training and validation set
xtrain, xvalid, ytrain, yvalid = train_test_split(train, training_labels, test_size=0.25, random_state=11)

In [185]:
# feature selection
xgb = XGBClassifier()
xgb.fit(xtrain, ytrain)
imp = pd.DataFrame(xgb.feature_importances_ ,columns = ['Importance'],index = xtrain.columns)
imp = imp.sort_values(['Importance'], ascending = False)

print(imp[100:])

                                                    Importance
seats.car_type                                        0.235630
seats.DAY(travel_date)                                0.079611
seats.MONTH(travel_date)                              0.055879
seats.COUNT(Nairobi_Movement)                         0.055592
seats.WEEKDAY(travel_date)                            0.051527
seats.SUM(Nairobi_Movement.travel_from_Kehancha)      0.040565
seats.SUM(Nairobi_Movement.travel_from_Kisii)         0.040360
seats.SUM(Nairobi_Movement.travel_from_Homa Bay)      0.039580
seats.SUM(Nairobi_Movement.travel_from_Rongo)         0.038348
seats.SUM(Nairobi_Movement.travel_from_Awendo)        0.035474
travel_from_Rongo                                     0.031450
seats.SUM(Nairobi_Movement.travel_from_Kijauri)       0.029520
travel_from_Awendo                                    0.026154
seats.SUM(Nairobi_Movement.travel_from_Migori)        0.019256
seats.SUM(Nairobi_Movement.travel_from_Rodi)          0.019174
travel_from_Kijauri                                   0.018065
seats.SUM(Nairobi_Movement.travel_from_Ndhiwa)        0.016916
travel_from_Kehancha                                  0.016136
seats.SUM(Nairobi_Movement.travel_from_Keroka)        0.013508
seats.SUM(Nairobi_Movement.travel_from_Nyachenge)     0.012153
seats.STD(Nairobi_Movement.travel_from_Awendo)        0.012153
travel_from_Kisii                                     0.012030
seats.SUM(Nairobi_Movement.travel_from_Sirare)        0.012030
travel_from_Nyachenge                                 0.011086
travel_from_Rodi                                      0.009115
travel_from_Sirare                                    0.008951
travel_from_Keroka                                    0.008910
travel_from_Homa Bay                                  0.008294
seats.YEAR(travel_date)                               0.007965
seats.SKEW(Nairobi_Movement.travel_from_Awendo)       0.007555
...                                                        ...
seats.SUM(Nairobi_Movement.travel_from_Oyugis)        0.000000
seats.SUM(Nairobi_Movement.travel_from_Kendu Bay)     0.000000
seats.max_capacity                                    0.000000
travel_from_Oyugis                                    0.000000
travel_from_Kendu Bay                                 0.000000
seats.MAX(Nairobi_Movement.travel_from_Awendo)        0.000000
seats.MAX(Nairobi_Movement.travel_from_Homa Bay)      0.000000
seats.MAX(Nairobi_Movement.travel_from_Kehancha)      0.000000
seats.MAX(Nairobi_Movement.travel_from_Sirare)        0.000000
seats.SKEW(Nairobi_Movement.travel_from_Mbita)        0.000000
seats.SKEW(Nairobi_Movement.travel_from_Kisii)        0.000000
seats.SKEW(Nairobi_Movement.travel_from_Kijauri)      0.000000
seats.SKEW(Nairobi_Movement.travel_from_Keumbu)       0.000000
seats.SKEW(Nairobi_Movement.travel_from_Keroka)       0.000000
seats.SKEW(Nairobi_Movement.travel_from_Kendu Bay)    0.000000
seats.SKEW(Nairobi_Movement.travel_from_Kehancha)     0.000000
seats.SKEW(Nairobi_Movement.travel_from_Homa Bay)     0.000000
seats.MAX(Nairobi_Movement.travel_from_Sori)          0.000000
seats.MAX(Nairobi_Movement.travel_from_Rongo)         0.000000
seats.MAX(Nairobi_Movement.travel_from_Kendu Bay)     0.000000
seats.MAX(Nairobi_Movement.travel_from_Rodi)          0.000000
seats.MAX(Nairobi_Movement.travel_from_Nyachenge)     0.000000
seats.MAX(Nairobi_Movement.travel_from_Ndhiwa)        0.000000
seats.MAX(Nairobi_Movement.travel_from_Migori)        0.000000
seats.MAX(Nairobi_Movement.travel_from_Mbita)         0.000000
seats.MAX(Nairobi_Movement.travel_from_Kisii)         0.000000
seats.MAX(Nairobi_Movement.travel_from_Kijauri)       0.000000
seats.MAX(Nairobi_Movement.travel_from_Keumbu)        0.000000
seats.MAX(Nairobi_Movement.travel_from_Keroka)        0.000000
seats.WEEKDAY(travel_time)                            0.000000

[130 rows x 1 columns]

In [231]:
feature_importance = ['seats.car_type','seats.DAY(travel_date)','seats.MONTH(travel_date)',
'seats.COUNT(Nairobi_Movement)','seats.WEEKDAY(travel_date)',                          
'seats.SUM(Nairobi_Movement.travel_from_Kehancha)',     
'seats.SUM(Nairobi_Movement.travel_from_Kisii)',       
'seats.SUM(Nairobi_Movement.travel_from_Homa Bay)',   
'seats.SUM(Nairobi_Movement.travel_from_Rongo)',       
'seats.SUM(Nairobi_Movement.travel_from_Awendo)',    
'travel_from_Rongo',                                   
'seats.SUM(Nairobi_Movement.travel_from_Kijauri)',     
'travel_from_Awendo',                                   
'seats.SUM(Nairobi_Movement.travel_from_Migori)',       
'seats.SUM(Nairobi_Movement.travel_from_Rodi)',         
'travel_from_Kijauri',                                
'seats.SUM(Nairobi_Movement.travel_from_Ndhiwa)',       
'travel_from_Kehancha',                                 
'seats.SUM(Nairobi_Movement.travel_from_Keroka)',       
'seats.SUM(Nairobi_Movement.travel_from_Nyachenge)',    
'seats.STD(Nairobi_Movement.travel_from_Awendo)',       
'travel_from_Kisii',                                   
'seats.SUM(Nairobi_Movement.travel_from_Sirare)',      
'travel_from_Nyachenge',                                
'travel_from_Rodi',                                     
'travel_from_Sirare',                                  
'travel_from_Keroka',                                   
'travel_from_Homa Bay',                               
'seats.YEAR(travel_date)',                              
'seats.SKEW(Nairobi_Movement.travel_from_Awendo)',     
'seats.SUM(Nairobi_Movement.travel_from_Mbita)',        
'seats.SUM(Nairobi_Movement.travel_from_Sori)',        
'travel_from_Keumbu',                                  
'travel_from_Migori',                                   
'travel_from_Ndhiwa',                                   
'travel_from_Mbita',                                    
'travel_from_Sori','seats.SUM(Nairobi_Movement.travel_from_Keumbu)']

In [233]:
train_important = train[feature_importance]
test_important = test[feature_importance]

In [234]:
train_important.head()

,seats.car_type,seats.DAY(travel_date),seats.MONTH(travel_date),seats.COUNT(Nairobi_Movement),seats.WEEKDAY(travel_date),seats.SUM(Nairobi_Movement.travel_from_Kehancha),seats.SUM(Nairobi_Movement.travel_from_Kisii),seats.SUM(Nairobi_Movement.travel_from_Homa Bay),seats.SUM(Nairobi_Movement.travel_from_Rongo),seats.SUM(Nairobi_Movement.travel_from_Awendo),...,seats.YEAR(travel_date),seats.SKEW(Nairobi_Movement.travel_from_Awendo),seats.SUM(Nairobi_Movement.travel_from_Mbita),seats.SUM(Nairobi_Movement.travel_from_Sori),travel_from_Keumbu,travel_from_Migori,travel_from_Ndhiwa,travel_from_Mbita,travel_from_Sori,seats.SUM(Nairobi_Movement.travel_from_Keumbu)
id,,,,,,,,,,,,,,,,,,,,,
0,0,17,10,1,1,0,0,0,0,0,...,2017,NaN,0,0,0,1,0,0,0,0
1,0,19,11,1,6,0,0,0,0,0,...,2017,NaN,0,0,0,1,0,0,0,0
2,0,26,11,1,6,0,0,0,0,0,...,2017,NaN,0,0,0,0,0,0,0,0
3,0,27,11,5,0,0,0,5,0,0,...,2017,0.0,0,0,0,0,0,0,0,0
4,0,27,11,31,0,0,0,0,0,0,...,2017,0.0,0,0,0,1,0,0,0,0

In [238]:
xtrain, xvalid, ytrain, yvalid = train_test_split(train_important, training_labels, test_size=0.25, random_state=11)

In [241]:
model = XGBClassifier(learning_rate=0.01)
model.fit(xtrain,ytrain)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.01, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='multi:softprob', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [242]:
from sklearn.metrics import mean_absolute_error
pred = model.predict(xvalid)
mean_absolute_error(yvalid, pred)

C:\Users\lenovoG50\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

19.556691449814128